//*------------------*
//*  フッター
//*------------------*

@include lg {
  .footer {
    &__menu {
      @include rem(24);
      a {
        padding: 0 0.5em;
      }
      a:hover {
        opacity: .7;
      }
    }

    &__sns {
      justify-content: space-between;
      margin: 0 auto 42px;
      width: 15%; 

      a:hover {
        opacity: .7;
      }
    }

    .pagetop__btn:hover {
      opacity: .7;
    }
  } 
}